.container {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 0 0 0;
    width: 50vw;
    height: 50vh;
    margin: auto auto 3vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hiba
{
    width: fit-content;
    margin: auto;
    color: red;
}